// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  margin-top: 50px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
  background-color: transparent;
  color: #efefef;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(78, 78, 78, 0.5);
}

.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
}

.bg-black {
  background-color: rgba(19, 19, 19, 0.69);
  padding: 25px;
  border-radius: 6px;
}

.modal-header {
  border-bottom: none;
}

.modal-content {
  background-color: rgba(19, 19, 19, 0.69);
}

.modal-body {
  overflow-y: auto;
  height: 700px !important;
}

.modal-body::-webkit-scrollbar {
  width: 5px;
}

.modal-body::-webkit-scrollbar-thumb {
  background: rgba(78, 78, 78, 0.5);
}


.modal-footer {
  border-top: none;
}

pre {
  background-color: transparent;
  border: none;
}

.close, .close:hover {
  color: #fff !important;
}

.form-control {
  color: #efefef;
  background-color: rgba(19, 19, 19, 0.69);
  border-color: transparent;
  border-radius: 6px;
}

.btn-bw {
  color: #efefef;
  background-color: #090909;
  border-color: #090909;
}

.btn-bw:hover {
  color: #090909;
  background-color: #efefef;
  border-color: #efefef;
}

.full {
  background: url('/img/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}